<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trees</title>
</head>
<body>
    <h1>Add Trees</h1>
        <div class="row">
            <div class="col-6">
                <label>Tree Name <span style="color: #d9534f;">*</span></label>
                <input type="text" name="name" placeholder="Enter Name" required aria-required="true">
            </div>
            <br><br>
            <div class="col-6">
                <label>Tree Category <span style="color: #d9534f;">*</span></label>
                <input type="text" name="tree_category" placeholder="Enter Category" required aria-required="true">
            </div>  
            <br><br>
            <div class="col-6">
                <label>Scientific Name <span style="color: #d9534f;">*</span></label>
                <input type="text" name="scientific_name" placeholder="Enter Scientific name" required aria-required="true">
            </div> 
            <br><br>
            <div class="col-6">
                <label>Height </label>
                <input type="number" name="height" placeholder="Tree Height">
            </div>
            <br><br>
            <div class="col-6">
                <label>Age </label>
                <input type="number" name="age" placeholder="Tree Age">
            </div>
            <br><br>
            <div class="col-6">
                <label>Tree Price <span style="color: #d9534f;">*</span></label>
                <input type="text" name="tree_price" placeholder="Enter Price" required aria-required="true">
            </div>
            <br><br>
            <div class="col-6">
                <label>Quantity</label>
                <input type="number" name="Quantity" placeholder="Enter Quantity" required aria-required="true">
            </div>
            <br><br>
            <div class="col-6">
                <label>Location</label>
                <input type="text" name="location" placeholder="Enter Location">
            </div>
            <br><br>
            <div class="col-6">
                <label>Planted Date</label>
                <input type="date" name="date" placeholder="Planted Date">
            </div>
            <br><br>
            <div class="col-6">
                <label>Tree Description</label>
                <textarea type="description" name="description" placeholder="Enter Description" ></textarea>
            </div>
            <br><br>
            <div class="col-6">
                <label>Is Available</label>
                <input type="text" name="is_available" placeholder="Is Available">
            </div>
<br><br>
            <div class="col-6">
                <button type="submit" class="btn-primary">Save</button>
            </div>

            
        
        </div>
</body>
</html>