<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeds</title>
</head>
<body>
    <h1>Add Seeds</h1>
    <form>
        <div class="row">
            <div class="col-6">
                <label>Seed Name : </label>
                <input type="text" name="seed_name" required> 
            </div>
        </div>
        <br><br>
        <div class="col-6">
            <label>Seed Category : </label>
            <input type="text" name="seed_category" required>
        </div>
        <br><br>
        <div class="col-6">
            <label>Seed Price : </label>
            <input type="number" name="seed_price" required>
        </div>
        <br><br>
        <div class="col-6">
            <label>Seed Quantity : </label>
            <input type="number" name="seed_quantity" required>
        </div>
        <br><br>
        <div class="col-6">
            <label>Seed Description : </label>
            <textarea name = "seed_description"></textarea>
        </div>
        <br><br>        

        <button type="submit">Add Seed</button>
        </div>
    </form>
</body>
</html>