 <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      
    </tr>

    {% for user in showall %}
    <tr>
       <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
       
        <td>
        <a href="#" class="btn edit-btn">Edit</a>
        <a href="#" class="btn delete-btn" onclick="return confirm('Are you sure?')">Delete</a>
        <a href="#" class="btn edit-btn">Access</a>

        <!-- {% if user.role == 'admin' %}
          <span class="btn access-btn" style="cursor: not-allowed; opacity: 0.6;">Full Access</span>
        {% elif user.role == 'volunteer' %}
          <span class="btn access-btn" style="cursor: not-allowed;">Limited Access</span>
        {% else %}
          <span class="btn access-btn"href="{% url 'access_control' user.id %}"  style="cursor: not-allowed;">User Access</span>
        {% endif %} -->
      </td> 
        
    </tr>
    {% empty %}
    <tr><td colspan="5">No users found.</td></tr>
    {% endfor %}
  </table>